main section.content div.links {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

main section.content div.links div.link {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

main section.content div.links div.link strong {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

main section.content div.links div.link a {
  font-size: 16px;
  color: #232580;
}